<!DOCTYPE html>
<html lang="zh-Hans-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="舰队collection,舰娘,艦隊これくしょん,艦これ">
  <title>OOI - 舰娘在线缓存系统</title>
  <link href="/static/css/uikit.min.css" rel="stylesheet">
  <link href="/static/css/uikit.almost-flat.min.css" rel="stylesheet">
  <link href="/static/css/ooi.css" rel="stylesheet">
  <script src="/static/js/jquery-2.1.4.min.js"></script>
  <script src="/static/js/uikit.min.js"></script>
</head>
<body>
  <div id="spacing_top" style="height:16px;"></div>
  <div id="flashWrap" style="width: 800px; margin: auto;">
    <embed id="externalswf" width="800" height="480" wmode="opaque" quality="high" bgcolor="#000000" allowscriptaccess="always" base="{{ scheme }}://{{ host }}/kcs/" type="application/x-shockwave-flash" src="{{ scheme }}://{{ host }}/kcs/mainD2.swf?api_token={{ token }}&amp;api_starttime={{ starttime }}" style="display: block !important;"></embed>
  </div>
  <div class="statistics">
  </div>
</body>
</html>