{% extends 'base.html' %}

{% block content -%}
    <div id="ooi-game" class="uk-width-1-1 uk-text-center">
      <embed id="externalswf" width="800" height="480" wmode="opaque" quality="high" bgcolor="#000000" allowscriptaccess="always" base="{{ scheme }}://{{ host }}/kcs/" type="application/x-shockwave-flash" src="{{ scheme }}://{{ host }}/kcs/mainD2.swf?api_token={{ token }}&amp;api_starttime={{ starttime }}" style="display: block !important;"></embed>
      <a href="/logout" class="uk-button uk-button-primary">重新登录</a>
    </div>
{%- endblock %}